#gt{
    background-color: yellowgreen;
    box-shadow: 2px 2px;
    
}
.rr310{
    background-color:coral;
    box-shadow: 2px 2px;
}

.mt{
    background-color: rgb(99, 169, 146);
    box-shadow: 2px 2px;
}

ol{
    background-color: yellow;
    text-align: center;
}

#feature{
    background-color: blue;
}